.bg-light {
    background-color: #efeeec !important;
}

.bg-dark {
    background-color: rgb(33, 33, 33) !important;
}

.img-face {
    border: 0 !important;
    border: 0 !important;
    box-shadow: none;
    padding: 0;
}

.cover-img-face {
    border: 0 !important;
    border: 0 !important;
    box-shadow: none;
    padding: 0;
    max-width: 30%;
}

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

body {
    font-family: "Heebo";
    font-size: 16px;
    color: rgb(51, 51, 51, 1) !important;
}

.text-primary {
    color: rgb(51, 51, 51, 1) !important;
}

.text-secondary {
    color: aliceblue !important;
}

.text-success {
    color: rgb(50, 168, 163) !important;
}

.fw-bolder {
    font-weight: bolder !important;
}

.italic {
    font-style: italic !important;
}

.bg-success-aqua {
    background-color: rgb(50, 168, 163, 0.75) !important;
}

.bg-success {
    background-color: rgb(50, 168, 163) !important;
}

.bg-secondary {
    background-color: rgb(66, 66, 66) !important;
}

.short-description {
    min-height: 140px !important;
    color: aliceblue;
}

.topics-left {
    min-height: 55px !important;
    padding-top: 13px;
}

.separator-title {
    min-height: 80px;
}

.separator-bar {
    min-height: 5px !important;
    height: 5px !important;
    max-height: 5px !important;
    position: relative !important;
    bottom: 23px;
}

.separator-bar-experience {
    min-height: 3px !important;
    height: 3px !important;
    max-height: 3px !important;
    position: relative !important;
    bottom: 23px;
    border-top: 3px dashed #000;
    /* this makes it a dashed line */
    background: none !important;
    /* remove any background color */
}

.fs-1 {
    font-size: 3.5rem !important;
}

.fs-7 {
    font-size: 0.8rem !important;
}

.ps-6 {
    padding-left: 3.5rem !important;
}

.cookies-banner {
    opacity: 0.9;
    min-height: 50px;
}

.progress {
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #424242;
    border-radius: 0.25rem;
}

@media (max-width: 1399px) {
    .fs-1 {
        font-size: 3rem !important;
    }
}

@media (max-width: 1199px) {
    .fs-1 {
        font-size: 2.5rem !important;
    }
}

@media (max-width: 991px) {
    .fs-1 {
        font-size: 1.9rem !important;
    }

    .fs-3 {
        font-size: 1.7rem !important;
    }
}

@media (max-width: 767px) {
    .img-face {
        max-width: 50% !important;
    }
}

@media (max-width: 482px) {
    .fs-1 {
        font-size: 1.7rem !important;
    }

    .fs-3 {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 436px) {
    .fs-1 {
        font-size: 1.5rem !important;
    }

    .fs-3 {
        font-size: 1.3rem !important;
    }
}

@media (max-width: 360px) {
    .fs-1 {
        font-size: 1.3rem !important;
    }

    .fs-3 {
        font-size: 1.1rem !important;
    }
}

@media (max-width: 992px) {
    .position-absolute {
        position: relative !important;
    }

    .hide-sm {
        display: none;
        visibility: hidden;
    }
}

/*
@media print {
    @page {
        margin: 0;
    }
    .img-face {
        max-width: 50% !important;
    }
    .cover-img-face {
        max-width: 30% !important;
    }
    .col-md-3 {
        flex: 0 0 auto;
        display: flex;
        -webkit-display: flex;
        -moz-display: flex;
        -ms--display: flex;
        max-width: 30% !important;
    }
    .col-md-12 {
        flex: 0 0 auto;
        display: flex;
        -webkit-display: flex;
        -moz-display: flex;
        -ms--display: flex;
        max-width: 30% !important;
    }.cover-img-face {
        max-width: 30% !important;
    }
    .col-md-3 {
        flex: 0 0 auto;
        max-width: 30% !important;
    }
    .col-md-8 {
        flex: 0 0 auto;
        max-width: 70% !important;
    }
    .container {        
        padding: 2em 2em 2em 2em !important;
        max-width: 100% !important;
    }
}
*/